/*a {
  color: #000000;
}
A:visited {
  color: #005177;
}
a:hover {
  color: #005177;
} */

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black ;
  background-color: #cfc ;
}